{% extends "base.html.twig" %}
{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>


    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-7 kt-grid--center">
                <div class="kt-portlet kt-portlet--tab ">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
					<span class="kt-portlet__head-icon kt-hide">
						<i class="la la-gear"></i>
					</span>
                            <h3 class="kt-portlet__head-title">
                                Please sign in
                            </h3>
                        </div>
                    </div>

                    <div class="kt-portlet__body">
                        <form method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <label for="inputEmail" class="sr-only">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}">
                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div>
                            <button class="btn btn-outline-brand btn-elevate btn-pill" type="submit">
{#                                <i class="flaticon-user"></i>#}
                                Sign in &nbsp;
                                <i class="flaticon-user"></i>
                            </button>
                        </form>
                        <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed"></div>
                        <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed"></div>
                    </div>
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                                    <span class="kt-portlet__head-icon kt-hide">
                                        <i class="la la-gear"></i>
                                    </span>
                            <h3 class="kt-portlet__head-title">
                                Forgot your password ?
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="form-group">
                            <form method="post" action="/recoveryRequest">
                                <div class="input-group">
                                    <input type="email" placeholder="enter email" class="form-control" name="recoveryEmail">
                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary red" type="submit">Recover </button>
                                    </span>
                                </div>




                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}
