<!-- begin:: Header -->
<div id="kt_header" class="kt-header kt-grid__item kt-header--fixed " >
{#    {% include 'partials/_header-menu.html.twig' %}#}
    {% include 'partials/_topbar-base.html.twig' %}
</div>

<!-- end:: Header -->