.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .kt-login__extra,
.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .kt-login__extra .kt-login__link{
    color: #6b6f87;
}
.btn-section {
    text-align: center;
}
.custom-form button.btn.btn-primary {
    margin: 10px auto;
    width: 100%;
}
select.form-control:not([size]):not([multiple]) {
    height: auto;
}