<html>
    <head>
    </head>
    <body>
        <h1>
            Dear user, a request to change your password was made . If you was the one who made it, access the following link to change your password :
            <a href="{{ base_href }}formRecovery/{{ token }}">CHANGE PASSWORD</a>
        </h1>
    </body>
</html>