<html>
<head>

</head>
<body>
<h1>
    Userul {{ person.firstName }} {{ person.lastName }} a mai ramas cu {{ person.freeDays }} zile libere si vrea sa-i fie rambursate pentru urmatorul an . <br>
</h1>
</body>
</html>