<html>
<head>

</head>
<body>
<h1>
            Pentru ca ai ramas cu zile libere de concediu, ai posibilitatea sa le rambursezi pentru urmatorul an sau sa iti fie platite ... <br>
    &nbsp; &nbsp;&nbsp; Ce alegi ?
</h1>
<h3><a href="{{ base_href }}requestRemainingDays/{{ person.id }}/pay">Vreau sa fiu platit</a>  sau <a href="{{ base_href }}requestRemainingDays/{{ person.id }}/keep">Vreau sa le rambursez</a></h3>
</body>
</html>