<html>
    <head>

    </head>
<body>
    <h1>
        Userul {{ person.firstName }} {{ person.lastName }} a mai ramas cu {{ person.freeDays }} zile libere si vrea sa-i fie platite . <br>
    </h1>
</body>
</html>