{% extends 'base.html.twig' %}

{% block title %}Hello MessagesController!{% endblock %}

{% block body %}

    {{ form_start(editForm) }}

    {{ form_widget(editForm) }}

    <button type="submit" class="btn btn-primary"> Edit </button>

    {{ form_end(editForm) }}

{% endblock %}










